# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Coverage folder used by tools like istanbul
coverage/

# Jest cache
*.jest

# Build output
dist/
build/

# Logs
logs/
*.log
*.json

# Temporary files
tmp/
temp/

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
